*.exe
*.pdb
SchedulerTask-2.0.v12.suo
SchedulerTask-2.0.v11.suo
*.suo
SchedulerTask-2.0/bin/
SchedulerTask-2.0/obj/
Test/bin/
Test/obj/
Builder/bin/
Builder/obj/
Debugger/obj/
Debugger/bin/
BuilderConsole/obj/
BuilderConsole/bin/
DebuggerConsole/obj/
DebuggerConsole/bin/
Test/bin/
Test/obj/